#header-options .more-options,
.submenu,
.dropdown {
    padding: 0 2rem;
    opacity: 0;
    max-height: 0px;
    transition: padding 0.2s, max-height 0.5s, opacity 0.2s;
}

#header-options .more-options-btn.open+.more-options.open,
.submenu.open {
    opacity: 1;
    max-height: 100rem;
    padding: 2rem;
}


/* ///////////////////////////////// HEADER /////////////////////////// */

.header {
    padding: 1.5rem 1.5rem;
    width: min(100%, 100rem);
    margin: auto;
    color: var(--text);
}

.site-name-box {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    align-items: flex-start;
}

.site-name-box figure img {
    max-height: 8rem;
}

.emblem {
    margin-left: auto;
}

.site-name {
    font-size: clamp(16px, 5vw, 18px);
    max-width: 38ch;
}

.site-eng {
    font-weight: 500;
}

.site-eng-full {
    display: none;
}

.site-sub-head {
    display: flex;
    justify-content: space-between;
    padding: 1px 1rem;
    font-size: min(3.6vw, 1.3rem);
}

.standard a {
    color: var(--text);
    text-decoration: underline;
}

.standard a:hover {
    color: var(--alert);
}


/* ////////////////////// media-blogs ////////////////////// */

.media-blogs {
    display: flex;
    justify-content: space-between;
    font-size: clamp(13px, 2vw, 16px);
    padding: 0 2rem 2rem 2rem;
    text-decoration: underline;
    gap: 2rem;
    text-align: center;
}

.media-blogs a {
    color: var(--text);
}

.media-blogs a:hover {
    color: var(--alert);
}


/* ////////////////////// MENU ////////////////////// */

menu-box {
    position: relative;
}

.menu {
    z-index: 100;
    display: flex;
    flex-basis: 100%;
    gap: 1.5rem;
    width: 100%;
    padding: 1.2rem 1rem;
    overflow-x: auto;
    border-top: 1px solid var(--minor);
}

.menu::-webkit-scrollbar {
    height: 3px;
}

.menu::-webkit-scrollbar-thumb {
    background: var(--tertiary);
    border-radius: 10px;
}

.menu li {
    border: 1px solid var(--tertiary);
    border-radius: 10px;
    padding: 0.4rem 1.5rem;
    cursor: pointer;
    position: relative;
    background: var(--white);
}

.menu li.active {
    border-color: var(--minor);
    background: var(--minor);
}

.menu li:hover {
    box-shadow: 0 0 0 1px var(--tertiary);
}

.menu li:hover a,
.menu li:hover button,
.menu li:hover .sub-menu-arrow {
    color: var(--primary);
    fill: var(--primary);
}

.menu li a,
.menu li button {
    color: var(--text);
    white-space: nowrap;
    text-transform: capitalize;
    background: transparent;
    font-size: clamp(16px, 2vw, 18px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li i {
    position: relative;
    top: 1px;
}

.submenu,
.dropdown {
    flex-wrap: wrap;
    width: min(70rem, 90%);
    margin: auto;
    border: none;
    box-shadow: 4px 5px 40px #00000025;
    border-radius: 1rem;
    height: auto;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    background: var(--white);
    padding: 0 2rem;
}

.submenu.open {
    padding: 3rem 2rem;
}

.menu li .sub-menu-arrow {
    margin-left: 2px;
    position: relative;
    color: var(--text);
}

.menu li .sub-menu-arrow::after {
    content: "";
    background: var(--white);
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 27%;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
}


/* ////////////////////// LATEST NEWS ////////////////////// */

.news-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.news-list-box {
    width: 100%;
    position: relative;
    height: 10rem;
    overflow: hidden;
}

.news-list {
    display: flex;
    gap: 3rem;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}

.news-list .news {
    flex-basis: 100%;
    min-width: 100%;
    text-align: center;
    position: absolute;
    font-size: 1.8rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 3rem;
}

.news-list .news a {
    font-size: clamp(16px, 2vw, 18px);
    color: var(--text);
}

.news-list .news:nth-child(2) {
    left: 100%;
}

.news-list .news:nth-child(3) {
    left: 200%;
}

.news-control {
    position: relative;
    cursor: pointer;
    border-radius: 3px;
}

.news-control i {
    color: var(--text);
    font-size: 2rem;
}


/* ////////////////////// Header Options ////////////////////// */

#header-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    position: relative;
    gap: 2rem;
    z-index: 11;
}

#header-options :is(i) {
    color: var(--text);
    font-size: clamp(20px, 2vw, 25px);
}

#header-options .search-wrapper {
    width: min(38rem, 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    position: relative;
}

#header-options .search-wrapper .search-input {
    font-size: clamp(16px, 2vw, 18px);
    width: 100%;
    padding: .5rem 1rem;
    padding-right: 4.5rem;
    border: 1px solid var(--primary);
    border-radius: 7px;
}

#header-options .search-wrapper .search-input:focus {
    box-shadow: 0 0 0 3px #328ce03a;
}

#header-options .search-wrapper i {
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--white);
    width: calc(3.5rem - 2px);
    height: calc(100% - 3px);
    padding: 0 .5rem;
    cursor: pointer;
    border-radius: 7px;
}

#header-options .more-options-btn {
    margin: 0 2rem;
    cursor: pointer;
    border: 1px solid var(--alert);
    border-radius: 50%;
    padding: 0 .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 50px;
    min-height: 50px;
}

#header-options .more-options-btn:hover {
    box-shadow: 0 0 0 3px var(--alert);
}

#header-options .more-options-btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(30px, 3vw, 35px);
}

#header-options .more-options-btn.open {
    transform: rotate(90deg);
}

#header-options .more-options {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
    position: absolute;
    top: 100%;
    right: 3rem;
    box-shadow: 4px 5px 40px #00000025;
    border-radius: 1rem;
    border: 1px solid var(--minor);
    width: min(38rem, 90%);
    overflow: hidden;
    background: var(--white);
}

#header-options .more-options :is(.zoom-in, .zoom-out, .zoom-reset, .theme-toggle, .print-btn, a) {
    cursor: pointer;
    padding: .5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
}

#header-options .more-options .zoom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: clamp(16px, 2vw, 18px);
    text-transform: uppercase;
    font-weight: 600;
}

#header-options .more-options .theme-toggle {
    position: relative;
}

#header-options .theme-toggle-btn.theme-dark-btn,
#header-options .theme-toggle-btn.theme-light-btn {
    display: flex;
}

#header-options .theme-toggle-btn.theme-dark-btn.set,
#header-options .theme-toggle-btn.theme-light-btn.set {
    display: none;
}


/* ////////////////////// MEDIA QUERIES ////////////////////// */

@media (min-width: 300px) {
    html {
        font-size: 55%;
    }
}

@media (min-width: 375px) {
    .news-list-box {
        height: 5rem;
    }
}

@media (min-width: 769px) {
    html {
        font-size: 65%;
    }
    .site-eng-abbr {
        display: none;
    }
    .site-eng-full {
        display: block;
    }
    .news-control::before {
        width: 1500%;
    }
    .news-wrapper {
        margin: 0;
    }
    #header-options .more-options-btn {
        display: none;
    }
    #header-options .more-options {
        display: flex;
        justify-content: space-evenly;
        position: static;
        box-shadow: none;
        border: none;
        opacity: 1;
        max-height: 100rem;
        padding: 0 2rem;
    }
}