/* //////////////////// HERO //////////////// */

main {
    width: min(100%, 100rem);
    margin: 1rem auto;
}

main>* {
    padding: 4rem 2rem;
}

.section-headings {
    color: var(--text);
    font-weight: 600;
    font-size: 2.5rem;
    padding: 1rem;
    text-align: center;
}


/* //////////////////////// Slider //////////////////////// */

.slider-content-wrapper {
    display: flex;
    width: 100%;
    gap: 0;
    overflow: hidden;
}

.slide-hero {
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
    gap: 3rem;
}

.slide-hero .slider-img {
    flex: 1;
    min-width: 30rem;
}

.slide-hero .slider-text {
    flex: 1;
    min-width: 10ch;
}

.slide-hero .slider-text p {
    font-size: clamp(16px, 2vw, 18px);
}

.slider-controls-wrapper,
.gallery-slider-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
    font-size: 2rem;
    margin-left: auto;
    max-width: 100%;
    padding: 2rem 0;
}

.slider-controls-wrapper i,
.gallery-slider-control i {
    font-size: clamp(26px, 5vw, 31px);
    color: var(--text);
    cursor: pointer;
    padding: 0 1rem;
    background: var(--white);
}

.slider-controls-wrapper .slide-prev-btn {
    border-right: 2px solid var(--primary);
}

.slider-controls-wrapper .slide-next-btn:active {
    box-shadow: -10px 0 var(--primary);
}

.slider-controls-wrapper .slide-prev-btn:active {
    box-shadow: 10px 0 var(--primary);
}

.slider-controls-wrapper .slide-next-btn {
    border-left: 2px solid var(--primary);
}

.slider-controls-wrapper .paging {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.slider-controls-wrapper .paging .paging-item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid var(--alert);
    border-radius: 50%;
    width: calc(clamp(2rem, 3vw, 3rem) + 1.5rem);
    height: calc(clamp(2rem, 3vw, 3rem) + 1.5rem);
    user-select: none;
}

.slider-controls-wrapper .paging .paging-item:nth-child(1) {
    box-shadow: 0 0 0 3px var(--alert);
}

.slider-controls-wrapper .paging .paging-item:active {
    box-shadow: 0 0 0 3px var(--alert);
}


/* ////////////////////// ONLINE ACTIVITIES and MSBTE EVENTS Callout ///////////////// */

.callouts {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

:is(.online-act-wrapper, .msbte-events-wrapper) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: clamp(16px, 2vw, 18px);
    flex: 1;
    min-width: 21ch;
    border: 1px solid var(--text);
    padding: 2rem 1rem;
    border-radius: 1rem;
}

:is(.online-act-wrapper, .msbte-events-wrapper)>* {
    text-align: center;
    width: 100%;
    margin: 1rem;
    padding: 0;
}

:is(.online-act-wrapper, .msbte-events-wrapper) button {
    width: auto;
    margin-top: auto;
}

:is(.online-act-wrapper, .msbte-events-wrapper) :is(a) {
    padding: 1rem 2rem;
    font-size: clamp(16px, 2vw, 18px);
    background: var(--text);
    color: var(--white);
    border-radius: 5px;
}

:is(.online-act-wrapper, .msbte-events-wrapper) :is(button, a):hover {
    background: var(--primary);
}


/* /////////////////////////// ADMIN PANEL ////////////////////////// */

.admin-panel-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.admin-panel-wrapper>* {
    flex: 1;
    min-width: 20rem;
    max-width: 30rem;
}

.admin-panel-wrapper * {
    text-align: center;
}

.admin-panel-wrapper img {
    width: 45%;
}

.admin-panel-wrapper h1 {
    font-size: clamp(16px, 2vw, 18px);
    font-weight: 600;
}

.admin-panel-wrapper figcaption {
    font-size: clamp(16px, 2vw, 18px);
}

.admin-panel-wrapper a,
.director-letter-wrapper .letter-contents a {
    text-decoration: underline;
    color: var(--primary);
    font-weight: 600;
}

.admin-panel-wrapper a:hover,
.director-letter-wrapper .letter-contents a:hover {
    color: var(--alert);
}


/* ////////////////////////// PHOTO GAllery ///////////////////// */

.late-intro-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.late-intro-wrapper>* {
    flex: 1;
    min-width: 30rem;
}

.late-intro-wrapper .director-letter-wrapper {
    min-width: 10ch;
}

.gallery-slider-wrapper {
    position: relative;
}

.gallery-slider-wrapper h1,
.director-letter-wrapper h1 {
    min-width: 10ch;
}

.gallery-slide-box {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.gallery-slide-box img {
    min-width: 100%;
}

.gallery-slider-control {
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50%) + 0.5rem);
    width: 100%;
}

.gallery-slider-control .gallery-slide-prev i {
    border-radius: 0 5px 5px 0;
}

.gallery-slider-control .gallery-slide-next i {
    border-radius: 5px 0 0 5px;
}

.director-letter-wrapper p {
    font-size: clamp(16px, 2vw, 18px);
    overflow-y: auto;
}


/* //////////////////////////////// IMPORTANT LINKS /////////////////////////////// */

.imp-link-list {
    padding-left: 4rem;
}

.imp-link-list .imp-link-box {
    list-style: url(images/link-45deg.svg);
    margin: 1rem 0;
    padding-left: 2rem;
    font-size: clamp(16px, 2vw, 18px);
}

.imp-link-list .imp-link-box.social-media {
    list-style: url(images/box-arrow-up-right.svg);
}

.imp-link-list .imp-link-box a {
    color: var(--text);
}

.imp-link-list .imp-link-box a:hover {
    color: var(--alert);
    text-decoration: underline;
}

.imp-links-wrapper .more-links-btn {
    background: var(--white);
    color: var(--text);
    border: 1px solid var(--text);
    border-radius: 7px;
    padding: 1rem 3rem;
    font-size: clamp(16px, 2vw, 18px);
    width: 100%;
}

.imp-links-wrapper .more-links-btn:hover {
    box-shadow: 0 0 0 1px var(--text);
}

.imp-links-wrapper .more-links-btn span {
    margin: 0 2rem;
    display: inline-block;
}

.imp-link-list.more-links {
    max-height: 0rem;
    overflow: hidden;
    transition: max-height 2s;
}

.imp-link-list.more-links.show {
    max-height: 1000rem;
    transition: max-height 2s;
}


/* ///////////////////////// CIRCULAR ///////////////////////// */

.circular-wrapper .section-headings {
    width: 100%;
}

.circular-wrapper .circular-tab-box {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.circular-wrapper .circular-tab-box .circular-tab {
    flex: 1;
    padding: 1rem 2rem;
    white-space: nowrap;
    background: var(--white);
    font-size: clamp(16px, 2vw, 18px);
    border: 1px solid var(--text);
    border-radius: 10px;
}

.circular-wrapper .circular-tab-box .circular-tab.show-circular {
    background: var(--text);
    color: var(--white);
}

.circular-box {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100rem;
    margin: 2rem 0;
    border: 1px solid var(--text);
    border-left: none;
    border-right: none;
    display: flex;
}

.circular-table {
    border-radius: 5px;
    border: 1px solid var(--text);
    font-size: clamp(16px, 2vw, 18px);
    border-collapse: collapse;
    min-width: 100%;
}

.circular-table :is(th, td) {
    border: 1px solid var(--text);
    padding: 1rem;
    text-align: left;
}

.circular-table :is(td):first-child {
    text-align: center;
}

.circular-table :is(tr):nth-child(even) {
    background: var(--tertiary);
}

.circular-table :is(a) {
    color: var(--text);
    text-decoration: underline;
}


/* /////////////////////////// MEDIA QUERIES ////////////////////////// */

@media (min-width: 375px) {
    .slide-hero .slider-text {
        min-width: 45ch;
    }
    .late-intro-wrapper .director-letter-wrapper {
        min-width: 70ch;
    }
}

@media (min-width: 769px) {
    .circular-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .circular-wrapper .section-headings {
        display: block;
    }
    .circular-wrapper .circular-tab-box {
        width: 10rem;
        flex: 1;
        flex-direction: column;
        gap: 0;
        border: 1px solid var(--text);
    }
    .circular-wrapper .circular-tab-box .circular-tab {
        flex: 0;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid var(--text);
        white-space: normal;
    }
    .circular-box {
        flex: 1 1 50%;
        margin: 0;
    }
}