/* //////////////////// HERO //////////////// */

main {
    width: min(100%, 100rem);
    margin: 1rem auto;
}

main>* {
    padding: 4rem 2rem;
}


/* //////////////////////// Slider //////////////////////// */

.slider-content-wrapper {
    display: flex;
    width: 100%;
    gap: 0;
    overflow: hidden;
}

.slide-hero {
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
    gap: 3rem;
}

.slide-hero .slider-img {
    flex: 1;
    min-width: 30rem;
}

.slide-hero .slider-text {
    flex: 1;
    min-width: 30ch;
}

.slide-hero .slider-text p {
    font-size: clamp(16px, 2vw, 18px);
}

.slider-controls-wrapper,
.gallery-slider-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
    font-size: clamp(2rem, 3vw, 3rem);
    margin-left: auto;
    max-width: 100%;
    padding: 2rem 0;
}

.slider-controls-wrapper i,
.gallery-slider-control i {
    font-size: clamp(2.5rem, 3vw, 3rem);
    color: var(--text);
    cursor: pointer;
    padding: 0 1rem;
}

.slider-controls-wrapper .slide-prev-btn {
    border-right: 2px solid var(--primary);
}

.slider-controls-wrapper .slide-next-btn:active {
    box-shadow: -10px 0 var(--primary);
}

.slider-controls-wrapper .slide-prev-btn:active {
    box-shadow: 10px 0 var(--primary);
}

.slider-controls-wrapper .slide-next-btn {
    border-left: 2px solid var(--primary);
}

.slider-controls-wrapper .paging {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.slider-controls-wrapper .paging .paging-item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid var(--alert);
    border-radius: 50%;
    width: calc(clamp(2rem, 3vw, 3rem) + 1.5rem);
    height: calc(clamp(2rem, 3vw, 3rem) + 1.5rem);
    user-select: none;
}

.slider-controls-wrapper .paging .paging-item:nth-child(1) {
    box-shadow: 0 0 0 3px var(--alert);
}

.slider-controls-wrapper .paging .paging-item:active {
    box-shadow: 0 0 0 3px var(--alert);
}


/* ////////////////////// ONLINE ACTIVITIES ///////////////// */

.online-act-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    font-size: clamp(16px, 2vw, 18px);
}

.online-act-wrapper h1 {
    text-align: center;
    width: 100%;
    min-width: 10ch;
    font-weight: 600;
}

.online-act-wrapper p {
    flex: 1;
    min-width: 22ch;
    text-align: center;
    margin-bottom: 1rem;
}

.online-act-wrapper :is(button, a) {
    padding: 1rem 2rem;
    font-size: clamp(16px, 2vw, 18px);
    background: var(--text);
    color: var(--white);
    border-radius: 5px;
    margin: auto;
}

.online-act-wrapper :is(button) {
    padding: 0;
}

.online-act-wrapper :is(button, a):hover {
    background: var(--primary);
}


/* /////////////////////////// ADMIN PANEL ////////////////////////// */

.admin-panel-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.admin-panel-wrapper>* {
    flex: 1;
    min-width: 20rem;
    max-width: 30rem;
}

.admin-panel-wrapper * {
    text-align: center;
}

.admin-panel-wrapper img {
    width: 45%;
}

.admin-panel-wrapper h1 {
    font-size: clamp(20px, 2vw, 22px);
    font-weight: 600;
}

.admin-panel-wrapper figcaption {
    font-size: clamp(16px, 2vw, 18px);
}

.admin-panel-wrapper a,
.director-letter-wrapper .letter-contents a {
    text-decoration: underline;
    color: var(--text);
    font-weight: 600;
}

.admin-panel-wrapper a:hover,
.director-letter-wrapper .letter-contents a:hover {
    color: var(--alert);
}


/* PHOTO GAllery */

.late-intro-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.late-intro-wrapper>* {
    flex: 1;
    min-width: 30rem;
}

.late-intro-wrapper .director-letter-wrapper {
    min-width: 10ch;
}

.gallery-slider-wrapper {
    position: relative;
}

.gallery-slider-wrapper h1,
.director-letter-wrapper h1 {
    min-width: 10ch;
    font-weight: 600;
    font-size: clamp(23px, 2vw, 25px);
    padding: 1rem;
    text-align: center;
}

.gallery-slide-box {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.gallery-slide-box img {
    min-width: 100%;
}

.gallery-slider-control {
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50%) + 0.5rem);
    width: 100%;
}

.gallery-slider-control i {
    background: var(--white);
    font-size: clamp(3rem, 3vw, 3.5rem);
}

.gallery-slider-control .gallery-slide-prev i {
    border-radius: 0 5px 5px 0;
}

.gallery-slider-control .gallery-slide-next i {
    border-radius: 5px 0 0 5px;
}

.director-letter-wrapper p {
    font-size: clamp(16px, 2vw, 18px);
    overflow-y: auto;
}


/* /////////////////////////// MEDIA QUERIES ////////////////////////// */

@media (min-width: 375px) {
    .online-act-wrapper h1 {
        width: 10ch;
        text-align: left;
    }
    .online-act-wrapper p {
        text-align: left;
        min-width: 35ch;
        max-width: 48ch;
    }
    .online-act-wrapper :is(button, a) {
        margin: 0;
    }
    .late-intro-wrapper .director-letter-wrapper {
        min-width: 70ch;
    }
}

@media (min-width: 769px) {}